.lvl-name {
    width: 60%;
    margin: 5px auto;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: black;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    box-sizing: border-box;
}

.menu {
    width: 100%;
    max-width: 600px;
    height: 180px;
    padding: 25px;
    background: #ABACA5;
    box-sizing: border-box;
    margin: 0 auto;
    border-bottom: 1px solid white;
}

.stats, .rules {
    padding-bottom: 5px;
    color: white;
    text-align: center;
}

.promt {
    padding-bottom: 5px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.playground {
    width: 100%;
    max-width: 600px;
    padding-top: 10px;
    height: 650px;
    background: #ABACA5;
    box-sizing: border-box;
    margin: 0 auto;
}

img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.avatar {
    width: 100px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}

.victory {
    width: 300px;
    padding-left: 150px;
    padding-top: 50px;
}

.victory-img {
    border-radius: 0;
    width: 300px;
    height: 200px;
}

.task {
    width: 60%;
    margin: 20px auto;
    font-style: italic;
    font-size: 18px;
    color: black;
}

.password {
    width: 60%;
    margin: 20px auto;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

button,
button:active,
button:focus {
    outline: none;
}

.button-try {
    width: 100%;
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.message {
    width: 60%;
    margin: 10px auto;
    min-height: 20px;
    text-align: center;
    font-size: 18px;
    color: white;
}

.nextlvl {
    width: 60%;
    margin: 5px auto;
}

.button-try:hover {
    background-color: #ff4d4d;
}

.button-next {
    width: 100%;
    background-color: #00b33c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button-next:hover {
    background-color: #006622;
}



